nav a.one{  
  background-image: url('assets/img/games/vamp.svg');
  background-size: percentage(0.8);
  background-position: 50% 60%;
  &:hover, &.current, &:active{ 
    background-image: url('assets/img/games/vamp-color.svg');
  }
}

section#one{
	.bg-phone{
		background-image: url('https://i.ytimg.com/vi/NfY6V7Ew9Ek/maxresdefault.jpg');
	}
}


