nav a.three{  
  background-image: url('assets/img/games/world.svg');
  background-size: percentage(0.65);
  &:hover, &.current, &:active{ 
    background-image: url('assets/img/games/world-color.svg');
  }
}


section#three{
	.bg-phone{
		background-image: url('https://image.winudf.com/v2/image1/Y29tLnVzdHdvLm1vbnVtZW50dmFsbGV5Ml9zY3JlZW5fZnItRlJfMV8xNTU3ODIzMzQxXzA0MA/screen-1.jpg?fakeurl=1&type=.jpg');
	}
}

