<!DOCTYPE html>
<html lang="fr">

<!-- _______________________ HEAD _______________________ -->

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Geekotopie</title>

    <!-- typo -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="style.css">

</head>

<!-- _______________________ BODY _______________________ -->


<body>

<!-- {% include nav.php %} -->

<section id="index" class="black full-height flex flex-center">

    <div class="rotating-text">

        <p>Geek</p>

        <p>
            <span class="word flex alizarin">otopie</span>
            <span class="word flex wisteria">osphère</span>
            <span class="word flex peter-river">ologie</span>
            <span class="word flex peter-river">osorus</span>
            <span class="word flex peter-river">athlon</span>
            <span class="word flex peter-river">ocrathie</span>
            <span class="word flex peter-river">orium</span>
        </p>

    </div>
    
</section>



<!-- ______________________________________________ -->


<!-- {% include script.php %} -->

</body>
</html>