<nav class="full-height">
    <div  class="logo flex flex_column flex_center">
        <ul>
            <li class="logo"><a href="{{ 'geekotopie.html' | relative_url }}"></a></li> 
        </ul>
    </div>
    <div class="menu flex_column flex_wrap flex_align-center">

        <ul class="flex-_justify-center flex_column">  
            <li><a href="{{ './geekotopie/drole-de-france.html' | relative_url }}" class="four"></a></li>
            <li><a href="{{ './geekotopie/le-choix-de-covid.html' | relative_url }}" class="one"></a></li>
            <li><a href="{{ './geekotopie/le-club-des-6.html' | relative_url }}" class="three"></a></li>
            <li><a href="{{ './geekotopie/sexy-cartoon.html' | relative_url }}" class="six"></a></li>
            <li><a href="{{ './geekotopie/avec-qui.html' | relative_url }}" class="two"></a></li>
            <li><a href="{{ './geekotopie/celebres-smileys.html' | relative_url }}" class="five"></a></li>
            <li><a href="{{ './geekotopie/seven.html' | relative_url }}" class="seven"></a></li>
            <!-- <li><a href="{{ './geekotopie/eight.html' | relative_url }}" class="eight"></a></li> -->
        </ul>

        <!-- <ul class="flex_justify-center flex_column">  
            <li><a href="{{ './geekotopie/nine.html' | relative_url }}" class="nine">two</a></li>
            <li><a href="{{ './geekotopie/ten.html' | relative_url }}" class="ten">one</a></li>
            <li><a href="{{ './geekotopie/eleven.html' | relative_url }}" class="eight">two</a></li>
            <li><a href="{{ './geekotopie/twelve.html' | relative_url }}" class="nine">one</a></li>
            <li><a href="{{ './geekotopie/thirteen.html' | relative_url }}" class="ten">two</a></li>
            <li><a href="{{ './geekotopie/fourteen.html' | relative_url }}" class="eight">one</a></li>
            <li><a href="{{ './geekotopie/fifteen.html' | relative_url }}" class="ten">two</a></li>
            <li><a href="{{ './geekotopie/sixteen.html' | relative_url }}" class="eight">one</a></li>
        </ul> -->

    </div>
</nav>