$grey:#E8EAF1;
$black: #222;
$white: #fff;
$petrol: #131E29;
$green: #A0C8A8;
$green-blue: #72B0BD;
$cyan: #6DB3D2;
$blue: #587CAF;
$blue-purple: #6058AF;
$purple: #736C99;
$pink: #AF58A7;
$pink-red: #AF587C;
$red: #F5736A;
$red-orange:#F58A6A;
$orange:#FBAE7D;
$orange-yellow:#F5BE6A;
$yellow:#DFC962;
$yellow-green:#BED678;


.white { background-color: white; }
.grey { background-color: $grey; }
// home
.black { background-color: $black; }
// game seven
.petrol { background-color: $petrol; }
// game eleven
.green { background-color: $green; }
// game eight
.green-blue { background-color: $green-blue; }
// game thirteen
.cyan { background-color: $cyan; }
// game four
.blue { background-color: $blue; }
// game one
.blue-purple { background-color: $blue-purple; } 
// game ten
.purple { background-color: $purple; }
// game fifteen
.pink { background-color: $pink; }
// game two
.pink-red { background-color: $pink-red; }
// game six
.red { background-color: $red; }
// game twelve
.red-orange { background-color: $red-orange; }
// game nine
.orange { background-color: $orange; }
// fourteen
.orange-yellow { background-color: $orange-yellow; }
// game five
.yellow { background-color: $yellow; }
// game three
.yellow-green { background-color: $yellow-green; }

