section#home{

  	.logo{
  		img{
  			width: auto;
  			height: 12em;
  			margin-bottom: -50px;
  			margin-left: 7%;
	  	}
		h1{
			font-family: 'Archistico Bold', sans-serif;
			font-size: 5em;
			color: $black;
		}
  	}

	#links{
		width: 95vw;
		padding: 10px 0;
		>*{
			display: block;
			font-family: Montserrat, sans-serif;
			font-weight: 300;
			font-size: 1.5em;
			margin: 2.5%;
		}
		a[class*=container] {
			text-align: center;
			width: calc((90% / 2) - 15%);
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			color: $black;
		}

		.btn {
			position: relative;
			color: $black;
			width: 90%;
			height: 64px;
			line-height: 64px;
			transition: all 0.3s;
		  	span {
		    	transition: all 0.3s;
		    	tranform: scale(1, 1);
		  	}
		}

		.btn::before, .btn::after {
			content: '';
			position: absolute;
			transition: all 0.3s;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		.btn::before {
		  opacity: 0;
		  background: rgba(0, 0, 0, 0.1);
		  transform: scale(1, 0.1);
		}

		.btn:hover::before {
		  opacity: 1;
		  transform: scale(1, 1);
		}

		.btn::after {
		  transition: all 0.3s;
		  border: 1px solid rgba(0, 0, 0, 0.5);
		}

		.btn:hover::after {
		  transform: scale(1, .1);
		  opacity: 0;
		}
	}

	#celine{
		font-family: 'Gochi Hand', cursive;
	}
}

section#home::after {
  content: "";

  background: url("https://cdn.pixabay.com/photo/2020/07/09/13/36/abstract-5387367_1280.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0.8;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}




