---

layout: shell
title: Drôle de France

---

{% include nav.html %}

<section id="four" class="game bg_pink-red full-height flex_center">
	
	{% include phone.html %}

	<div class="game-infos">
		<h2 class="game-title">Drôle de France</h2>
		<p class="game-description">
			Ahhhh la France ! Ses Monuments, sa gastronomie, ses vins, ses drôles de villes... Oui, oui, vous avez bien lu, la France possède de nombreux petits villages aux noms bien atypiques. À vous de deviner si ceux qu'on vous présente existe ou on été inventé par un esprit farceur.
		</p>
	</div>
	
</section>