---

layout: shell
title: Avec qui ?

---

{% include nav.html %}
	
<section id="marie-embrasse-tue" class="game bg_blue-purple">

	{% include phone.html %}

	<div class="game-infos">
		<h2 class="game-title">Avec qui ?</h2>
		<p class="game-description">
			Dans la cours de récrée, on jouait à "Lit, Placard ou Poubelle". Ado, on a fait évoluer le jeu avec "Marrie, Embrasse ou Tue". Et si l'on redécouvrez le jeu de notre enfance dans un format un poil plus amusant. Venez découvrir les amours secrets de vos amis et les stars qui aurait peuplées votre vie si nous vivions dans un autre espace temps.
			Et vous, vous épouseriez qui ?
		</p>
	</div>
		
</section>