/*| Nav Burger Home |*/

.menu-outer:hover ~ .menu-close, .menu-outer.hovered ~ .menu-close {
    margin-right:-100px;
}

.menu-outer:hover .bar-home, .menu-outer.hovered .bar-home { 
    background:#fff; 
}

.menu-inner ul {
  top:50%;

  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
}

.menu-outer {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 998;  
  width: 100%;
  left: 100%;
  margin-left: -100px;
  height: 200%;
  background: #fff; 

  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s; 

  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-outer:hover, .menu-outer.hovered {
  background: #2D2D2D;
  left: 0;
  margin-left: 0;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.menu-icon {
  z-index: 999;
  position: absolute;
  top: 58px;
  left: 12px;
  width: 30px;
  pointer-events: none;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}
.menu-icon .bar-home{
  background: #2D2D2D;
  width: 100%;
  height: 1px;
  margin: 0 0 10px;

  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.menu-outer:hover > .menu-icon, .menu-outer.hovered > .menu-icon {
  opacity: 0;
}

#burger-home ul {
  position:absolute;
  width:100%;
  padding: 0;
  left: 10%;
  top: 3%;

  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.menu-outer:hover > #burger-home ul, .menu-outer.hovered > #burger-home ul {
  left: 0;
}

#burger-home ul li {
  list-style:none;
  text-align: center;
  text-transform: uppercase;
}

#burger-home ul li a {
    font-family: 'Assistant', sans-serif;
    font-size: 2.2em;
    color: #fff;
    opacity:.7;
    text-decoration: none;
    margin: 0 auto;
    padding: 20px 20px;
    display:block;
    font-weight: lighter;

    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

#burger-home ul li #logo-home{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    padding: 20px 20px;
    display:block;
    font-weight: 200;

    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

#burger-home li a:hover {
  opacity:.2;
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  #burger-home ul {font-size:.75em;}
  #burger-home ul a {padding: 10px;}
}

.menu-close {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 100%;
  width: 200px;
  height: 200px;
  background: #fff;
  cursor: pointer;

  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;

  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-close .menu-icon {
  right: 15px; 
  left: auto;
  top: 68px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-close .bar-home {
  background: #2D2D2D;
  width: 100%;
  height: 1px;
  position:absolute;

  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}

.menu-close .bar-home:first-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-close .bar-home:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*| End Nav Burger Home |*/






/* ----------------- ********* BASE @MEDIA ********* ----------------- */



/* Desktop */

@media screen and (min-width: 1024px) {

}

/* Tablet and Mobil */
@media screen and (max-width: 768px) {
    #navBar-home {
        display: none;
    }
    #navBar {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    #navBurger-home {
        display: none;
    }
}



/*| |*/