/* ----------------- ********* BASE CSS ********* ----------------- */


/* ----------------- Typo ----------------- */

/* Oswald */
@font-face {
    font-family: 'Oswald';
    font-weight: 200;
    src: url('../../src/font/oswald/Oswald-extralight.eot');
    src: url('../../src/font/oswald/Oswald-extralight.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/oswald/Oswald-extralight.woff2') format('woff2'),
         url('../../src/font/oswald/Oswald-extralight.woff') format('woff'),
         url('../../src/font/oswald/Oswald-extralight.ttf') format('truetype'),
         url('../../src/font/oswald/Oswald-extralight.svg#oswaldextralight') format('svg');
}
@font-face {
    font-family: 'Oswald';
    font-weight: lighter;
    font-weight: 300;
    src: url('../../src/font/oswald/Oswald-light.eot');
    src: url('../../src/font/oswald/Oswald-light.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/oswald/Oswald-light.woff2') format('woff2'),
         url('../../src/font/oswald/Oswald-light.woff') format('woff'),
         url('../../src/font/oswald/Oswald-light.ttf') format('truetype'),
         url('../../src/font/oswald/Oswald-light.svg#oswaldlight') format('svg');
}
@font-face {
    font-family: 'Oswald';
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    src: url('../../src/font/oswald/Oswald-regular.eot');
    src: url('../../src/font/oswald/Oswald-regular.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/oswald/Oswald-regular.woff2') format('woff2'),
         url('../../src/font/oswald/Oswald-regular.woff') format('woff'),
         url('../../src/font/oswald/Oswald-regular.ttf') format('truetype'),
         url('../../src/font/oswald/Oswald-regular.svg#oswaldregular') format('svg');
}
@font-face {
    font-family: 'Oswald';
    font-weight: 500;
    src: url('../../src/font/oswald/Oswald-medium.eot');
    src: url('../../src/font/oswald/Oswald-medium.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/oswald/Oswald-medium.woff2') format('woff2'),
         url('../../src/font/oswald/Oswald-medium.woff') format('woff'),
         url('../../src/font/oswald/Oswald-medium.ttf') format('truetype'),
         url('../../src/font/oswald/Oswald-medium.svg#oswaldmedium') format('svg');
}
@font-face {
    font-family: 'Oswald';
    font-weight: bold;
    font-weight: 600;
    src: url('../../src/font/oswald/Oswald-semibold.eot');
    src: url('../../src/font/oswald/Oswald-semibold.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/oswald/Oswald-semibold.woff2') format('woff2'),
         url('../../src/font/oswald/Oswald-semibold.woff') format('woff'),
         url('../../src/font/oswald/Oswald-semibold.ttf') format('truetype'),
         url('../../src/font/oswald/Oswald-semibold.svg#oswaldsemibold') format('svg');
}
@font-face {
    font-family: 'Oswald';
    font-weight: bolder;
    font-weight: 700;
    src: url('../../src/font/oswald/Oswald-bold.eot');
    src: url('../../src/font/oswald/Oswald-bold.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/oswald/Oswald-bold.woff2') format('woff2'),
         url('../../src/font/oswald/Oswald-bold.woff') format('woff'),
         url('../../src/font/oswald/Oswald-bold.ttf') format('truetype'),
         url('../../src/font/oswald/Oswald-bold.svg#oswaldbold') format('svg');
}

/* ---------------------------------- */

/* Assistant */
@font-face {
    font-family: 'Assistant';
    font-weight: 200;
    src: url('../../src/font/assistant/Assistant-extralight.eot');
    src: url('../../src/font/assistant/Assistant-extralight.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/assistant/Assistant-extralight.woff2') format('woff2'),
         url('../../src/font/assistant/Assistant-extralight.woff') format('woff'),
         url('../../src/font/assistant/Assistant-extralight.ttf') format('truetype'),
         url('../../src/font/assistant/Assistant-extralight.svg#assistantextralight') format('svg');
}
@font-face {
    font-family: 'Assistant';
    font-weight: lighter;
    font-weight: 300;
    src: url('../../src/font/assistant/Assistant-light.eot');
    src: url('../../src/font/assistant/Assistant-light.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/assistant/Assistant-light.woff2') format('woff2'),
         url('../../src/font/assistant/Assistant-light.woff') format('woff'),
         url('../../src/font/assistant/Assistant-light.ttf') format('truetype'),
         url('../../src/font/assistant/Assistant-light.svg#assistantlight') format('svg');
}
@font-face {
    font-family: 'Assistant';
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    src: url('../../src/font/assistant/Assistant-regular.eot');
    src: url('../../src/font/assistant/Assistant-regular.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/assistant/Assistant-regular.woff2') format('woff2'),
         url('../../src/font/assistant/Assistant-regular.woff') format('woff'),
         url('../../src/font/assistant/Assistant-regular.ttf') format('truetype'),
         url('../../src/font/assistant/Assistant-regular.svg#assistantregular') format('svg');
}
@font-face {
    font-family: 'Assistant';
    font-weight: 600;
    src: url('../../src/font/assistant/Assistant-semibold.eot');
    src: url('../../src/font/assistant/Assistant-semibold.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/assistant/Assistant-semibold.woff2') format('woff2'),
         url('../../src/font/assistant/Assistant-semibold.woff') format('woff'),
         url('../../src/font/assistant/Assistant-semibold.ttf') format('truetype'),
         url('../../src/font/assistant/Assistant-semibold.svg#assistantsemibold') format('svg');
}
@font-face {
    font-family: 'Assistant';
    font-weight: bold;
    font-weight: 700;
    src: url('../../src/font/assistant/Assistant-bold.eot');
    src: url('../../src/font/assistant/Assistant-bold.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/assistant/Assistant-bold.woff2') format('woff2'),
         url('../../src/font/assistant/Assistant-bold.woff') format('woff'),
         url('../../src/font/assistant/Assistant-bold.ttf') format('truetype'),
         url('../../src/font/assistant/Assistant-bold.svg#assistantbold') format('svg');
}
@font-face {
    font-family: 'Assistant';
    font-weight: bolder;
    font-weight: 900;
    src: url('../../src/font/assistant/Assistant-extrabold.eot');
    src: url('../../src/font/assistant/Assistant-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/assistant/Assistant-extrabold.woff2') format('woff2'),
         url('../../src/font/assistant/Assistant-extrabold.woff') format('woff'),
         url('../../src/font/assistant/Assistant-extrabold.ttf') format('truetype'),
         url('../../src/font/assistant/Assistant-extrabold.svg#assistantextrabold') format('svg');
}

/* ---------------------------------- */

/* Lato */
@font-face {
    font-family: 'Lato';
    font-weight: 100;
    font-style: normal;
    src: url('../../src/font/lato/Lato-hairline.eot');
    src: url('../../src/font/lato/Lato-hairline.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/lato/Lato-hairline.woff2') format('woff2'),
         url('../../src/font/lato/Lato-hairline.woff') format('woff'),
         url('../../src/font/lato/Lato-hairline.ttf') format('truetype'),
         url('../../src/font/lato/Lato-hairline.svg#latohairline') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-weight: 100;
    font-style: italic;
    src: url('../../src/font/lato/Lato-hairlineitalic.eot');
    src: url('../../src/font/lato/Lato-hairlineitalic.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/lato/Lato-hairlineitalic.woff2') format('woff2'),
         url('../../src/font/lato/Lato-hairlineitalic.woff') format('woff'),
         url('../../src/font/lato/Lato-hairlineitalic.ttf') format('truetype'),
         url('../../src/font/lato/Lato-hairlineitalic.svg#latohairline_italic') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-weight: lighter;
    font-weight: 300;
    font-style: italic;
    src: url('../../src/font/lato/Lato-italic.eot');
    src: url('../../src/font/lato/Lato-italic.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/lato/Lato-italic.woff2') format('woff2'),
         url('../../src/font/lato/Lato-italic.woff') format('woff'),
         url('../../src/font/lato/Lato-italic.ttf') format('truetype'),
         url('../../src/font/lato/Lato-italic.svg#latoitalic') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-weight: lighter;
    font-weight: 300;
    font-style: normal;
    src: url('../../src/font/lato/Lato-light.eot');
    src: url('../../src/font/lato/Lato-light.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/lato/Lato-light.woff2') format('woff2'),
         url('../../src/font/lato/Lato-light.woff') format('woff'),
         url('../../src/font/lato/Lato-light.ttf') format('truetype'),
         url('../../src/font/lato/Lato-light.svg#latolight') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-weight: normal;
    font-weight: 400;
    font-style: italic;
    src: url('../../src/font/lato/Lato-lightitalic.eot');
    src: url('../../src/font/lato/Lato-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/lato/Lato-lightitalic.woff2') format('woff2'),
         url('../../src/font/lato/Lato-lightitalic.woff') format('woff'),
         url('../../src/font/lato/Lato-lightitalic.ttf') format('truetype'),
         url('../../src/font/lato/Lato-lightitalic.svg#latolight_italic') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    src: url('../../src/font/lato/Lato-regular.eot');
    src: url('../../src/font/lato/Lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/lato/Lato-regular.woff2') format('woff2'),
         url('../../src/font/lato/Lato-regular.woff') format('woff'),
         url('../../src/font/lato/Lato-regular.ttf') format('truetype'),
         url('../../src/font/lato/Lato-regular.svg#latoregular') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-weight: bold;
    font-weight: 700;
    font-style: normal;
    src: url('../../src/font/lato/Lato-bold.eot');
    src: url('../../src/font/lato/Lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/lato/Lato-bold.woff2') format('woff2'),
         url('../../src/font/lato/Lato-bold.woff') format('woff'),
         url('../../src/font/lato/Lato-bold.ttf') format('truetype'),
         url('../../src/font/lato/Lato-bold.svg#latobold') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-weight: bold;
    font-weight: 700;
    font-style: italic;
    src: url('../../src/font/lato/Lato-bolditalic.eot');
    src: url('../../src/font/lato/Lato-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/lato/Lato-bolditalic.woff2') format('woff2'),
         url('../../src/font/lato/Lato-bolditalic.woff') format('woff'),
         url('../../src/font/lato/Lato-bolditalic.ttf') format('truetype'),
         url('../../src/font/lato/Lato-bolditalic.svg#latobold_italic') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-weight: bolder;
    font-weight: 900;
    font-style: normal;
    src: url('../../src/font/lato/Lato-black.eot');
    src: url('../../src/font/lato/Lato-black.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/lato/Lato-black.woff2') format('woff2'),
         url('../../src/font/lato/Lato-black.woff') format('woff'),
         url('../../src/font/lato/Lato-black.ttf') format('truetype'),
         url('../../src/font/lato/Lato-black.svg#latoblack') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-weight: bolder;
    font-weight: 900;
    font-style: italic;
    src: url('../../src/font/lato/Lato-blackitalic.eot');
    src: url('../../src/font/lato/Lato-blackitalic.eot?#iefix') format('embedded-opentype'),
         url('../../src/font/lato/Lato-blackitalic.woff2') format('woff2'),
         url('../../src/font/lato/Lato-blackitalic.woff') format('woff'),
         url('../../src/font/lato/Lato-blackitalic.ttf') format('truetype'),
         url('../../src/font/lato/Lato-blackitalic.svg#latoblack_italic') format('svg');
}

/* ---------------------------------- */

/* Main Typography */

h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	letter-spacing: -0.125em;
}

h2 {
	text-transform: uppercase;
	font-weight: 300;
}

h3 {
  	letter-spacing: -0.03125em;
}

p {
  	letter-spacing: -0.0125em;
}
a{
	cursor: pointer;
	text-decoration: none;
}
ul {
	list-style: none;
	text-decoration: none;
}



/* ----------------- Colors ----------------- */




/* ----------------- Content ----------------- */


*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*| Body styling |*/

body {
  /*max-height: 50%;*/
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-family: 'Assistant', Arial, sans-serif;
  color: #2D2D2D;
}



/* ----------------- ********* BASE @MEDIA ********* ----------------- */


/* Tablet and Mobil */

@media screen and (max-width: 990px) {

}




// ____________________________________________________________________ //


//  TEST //


//-- Lato --//
// @mixin Lato-1 {font-family: 'Lato', sans-serif; font-weight:100;}
// @mixin Lato-1-i {@include Lato-1; font-style:italic;}

// @mixin Lato-2 {font-family: 'Lato', sans-serif; font-weight:200;}
// @mixin Lato-2-i {@include Lato-2; font-style:italic;}

// @mixin Lato-3 {font-family: 'Lato', sans-serif; font-weight:300;}
// @mixin Lato-3-i {@include Lato-3; font-style:italic;}

// @mixin Lato-4 {font-family: 'Lato', sans-serif; font-weight:400;}
// @mixin Lato-4-i {@include Lato-4; font-style:italic;}

// @mixin Lato-5 {font-family: 'Lato', sans-serif; font-weight:500;}
// @mixin Lato-5-i {@include Lato-5; font-style:italic;}

// @mixin Lato-6 {font-family: 'Lato', sans-serif; font-weight:600;}
// @mixin Lato-6-i {@include Lato-1; font-style:italic;}

// @mixin Lato-7 {font-family: 'Lato', sans-serif; font-weight:700;}
// @mixin Lato-7-i {@include Lato-3; font-style:italic;}

// @mixin Lato-8 {font-family: 'Lato', sans-serif; font-weight:800;}
// @mixin Lato-8-i {@include Lato-4; font-style:italic;}

// @mixin Lato-9 {font-family: 'Lato', sans-serif; font-weight:900;}
// @mixin Lato-9-i {@include Lato-7; font-style:italic;}

//-- Oswald --//
// @mixin oswald-2 {font-family: 'Oswald', sans-serif; font-weight:200;}
// @mixin oswald-2-i {@include oswald-2; font-style:italic;}

// @mixin oswald-3 {font-family: 'Oswald', sans-serif; font-weight:300;}
// @mixin oswald-3-i {@include oswald-3; font-style:italic;}

// @mixin oswald-4 {font-family: 'Oswald', sans-serif; font-weight:400;}
// @mixin oswald-4-i {@include oswald-4; font-style:italic;}

// @mixin oswald-5 {font-family: 'Oswald', sans-serif; font-weight:500;}
// @mixin oswald-5-i {@include oswald-5; font-style:italic;}

// @mixin oswald-6 {font-family: 'Oswald', sans-serif; font-weight:600;}
// @mixin oswald-6-i {@inlude oswald-6; font-style:italic;}

// @mixin oswald-7 {font-family: 'Oswald', sans-serif; font-weight:700;}
// @mixin oswald-7-i {@include oswald-7; font-style:italic;}

//-- Assistant --//
// @mixin assistant-2 {font-family: 'Assistant', sans-serif; font-weight:200;}
// @mixin assistant-2-i {@include assistant-2; font-style:italic;}

// @mixin assistant-3 {font-family: 'Assistant', sans-serif; font-weight:300;}
// @mixin assistant-3-i {@include assistant-3; font-style:italic;}

// @mixin assistant-4 {font-family: 'Assistant', sans-serif; font-weight:400;}
// @mixin assistant-4-i {@include assistant-4; font-style:italic;}

// @mixin assistant-6 {font-family: 'Assistant', sans-serif; font-weight:600;}
// @mixin assistant-6-i {@include assistant-6; font-style:italic;}

// @mixin assistant-7 {font-family: 'Assistant', sans-serif; font-weight:700;}
// @mixin assistant-7-i {@include assistant-7; font-style:italic;}

