nav{
	-webkit-backface-visibility: hidden;
	position: fixed;
	left: 5%;
  // width: 25vh;
  // z-index: 5; 
	// margin: auto;
  div{
    &.menu{
      max-height: 80vh;
    }
    &.logo{
      max-height: 20vh;
    }
  }
	
  ul{
    // height: 80vh;
    li{ 
      // - margin button -
      height: 8vh;
      width: 8vh;
      margin: 1vh 0px;
      &.logo{ // - button home - start
        height: 10vh;
        width: 10vh;
        margin: 3vh 0px 2vh;
        a{
          background-image: url('assets/img/games/home.svg');
          background-size: percentage(0.5);
          width: 9vh; 
          height: 9vh;
          
          &:hover, &.current, &:active{
            background-image: url('assets/img/games/home-color.svg'); 

            width: 10vh; 
            height: 10vh; 

            left: -3px; 
            top: -0.5px;
          }
        } // - button home - end
      }

      a{ 
        // - design button - start
        display: block; 
        width: 7vh; 
        height: 7vh;

        text-indent: -9999px;

        border: 0.3vh solid #fff;
        border-radius: 100px; 
        -moz-border-radius:100px; 
        -webkit-border-radius:100px; 

        background-color: transparent;
        background-size: percentage(0.7);
        background-repeat: no-repeat;
        background-position: center center;
        // - design button - end

        // - animation hover - start
        transition: all 0.3s ease;
        position: relative;
        left: 0px;
        top: 0px;

        &:hover, &.current, &:active{ 
          background-color: #fff;

          width: 8.2vh; 
          height: 8.2vh; 

          left: -3px; 
          top: -2px;
        } // - animation hover - end

        &.current{
          pointer-events: none;
          cursor: default;
        } 
      }

      
      &.logo{
        // height: 12vh;
        // margin-left: -5px;
        

      }
    }
  }
}

