<!DOCTYPE html>
<html lang="fr">

<!-- HEAD -->

{% include head.html %} 

<!-- END HEAD -->

<!-- BODY -->

<body>

	<!-- Content page -->
	{{ content }}

</body>

<!-- END BODY -->

	<!-- JS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{ 'assets/js/script.js' | relative_url }}"></script>
	<script type="text/javascript" src="{{ 'assets/js/main.js' | relative_url }}"></script>

</html>

