---

layout: shell
title: Projarium

---

<section id="home" class="full-page flex_column flex_center">

	<div class="logo flex_column flex_center ">
		<img src="./assets/img/logo/logo.png">
		<h1>projarium</h1>
	</div>


	<div id="links" class="flex_wrap flex_center">

		<a href="celinequevilly.html" class="container-btn">
    		<div class="btn">
				<span id="link-celine">Perfect Site</span>
			</div>
  		</a>
  		<a href="celinequevilly.html" class="container-btn">
    		<div class="btn btn-three">
				<span id="link-celine">Personal Crea</span>
			</div>
  		</a>
  		<a href="geekotopie.html" class="container-btn">
    		<div class="btn">
				<span id="link-geekotopie">Geekotopie</span>
			</div>
  		</a>
  		<a href="celinequevilly.html" class="container-btn">
    		<div class="btn">
				<span id="link-celine">Personal Artwork</span>
			</div>
  		</a>

	</div>
	
	<a href="celinequevilly" id="celine">by Céline Quevilly</a>

</section>

  
