---

layout: shell
title: Geekotopie

---

{% include nav.html %}

<section id="geekotopie" class="bg_black full-height flex_center">

    <div class="rotating-text flex">

        <p>Geek</p>

        <p>
            <span class="word flex txt_blue">otopie</span>
            <span class="word flex txt_green">osphère</span>
            <span class="word flex txt_pink">ologie</span>
            <span class="word flex txt_cyan">osorus</span>
            <span class="word flex txt_orange">athlon</span>
            <span class="word flex txt_purple">ocratie</span>
            <span class="word flex txt_yellow">orium</span>
        </p>

        <!-- colors tmp -->
        <div>
            <div id="colors" class="flex_center">
                <span class="bg_black">1</span>
                <span class="bg_petrol">2</span>
                <span class="bg_green">3 green</span>
                <span class="bg_green-blue">4</span>
                <span class="bg_cyan">5 cyan</span>
                <span class="bg_blue">6 blue</span>
                <span class="bg_blue-purple">7</span>
                <span class="bg_purple">8 purple</span>
            </div>
            <div id="colors" class="flex_center">
                <span class="bg_pink">9 pink</span>
                <span class="bg_pink-red">10</span>
                <span class="bg_red">11 red</span>
                <span class="bg_red-orange">12</span>
                <span class="bg_orange">13 orange</span>
                <span class="bg_orange-yellow">14</span>
                <span class="bg_yellow">15 yellow</span>
                <span class="bg_yellow-green">16</span>
            </div>
        </div>
        <!-- end tmp -->

    </div>
    
</section>

  
